<div class="visualizer">
  <div class="piano-roll">

    <div class="header">
      <div class="note-title"></div>

      @for (step of gridService.steps; track step) {
        <div class="step-number">
          {{ step }}
        </div>
      }
    </div>

    @for (note of notes; track note; let row = $index) {
      <div class="note-row">

        <div class="note-name">
          {{ note }}
        </div>

        @for (step of gridService.steps; track step; let column = $index) {

          @if (gridService.getNoteDuration(row, column) > 0) {

            <div
              class="cell note"
              [style.--note-duration]="gridService.getNoteDuration(row, column)"
              (click)="gridService.toggleCell(row, column)">

              <span
                class="resize-handle left"
                (mousedown)="startResize($event, row, column, 'left')"
                (click)="$event.stopPropagation()">
              </span>
              
              <span
                class="resize-handle right"
                (mousedown)="startResize($event, row, column, 'right')"
                (click)="$event.stopPropagation()">
              </span>

            </div>

          } @else if (gridService.getNoteDurationAt(row, column) === 0) {

            <div
              class="cell"
              [class.active]="gridService.grid[row][column]"
              (click)="gridService.toggleCell(row, column)">
            </div>

          }

        }
      </div>
    }

  </div>
</div>